.container {
	width: 100%;
 }
 
 .titled {
 	background-color: beige;
 	color: black;
 	font-family: 'Special Elite', cursive, sans-serif;
 	height: 15%;
 	width: 100%;
 	font-size: 2.25rem;
 	padding-top: 30px;
 	padding-bottom:-55px;
 	padding-left: 5px;
 	display: block;
 

 }
 
body {
	width: 100%;
	background-color: black;
}

#da-body img {
	position: absolute;
	top: 5px;
 	right: 400px;
 	z-index: 1;
}


/*Landing page Elements and Content Below*/
#landing-page-body {
	width: 100%;
	background-color: black;
}

 #landing-page-p {
 	background-color: white;
 	color: black;
 	font-family: 'Special Elite', cursive, sans-serif;
 	font-size: 20px;
 	padding-top: 15px;
 	padding-left: 5px;
 	height: 420px;
 	width: 500px;
 	margin-top: 40px;
 	margin-left: 450px;
 }

#landing-page-button {
	background-color: beige;
	width:400px;
	height: 40px;
	font-family: 'Special Elite', cursive, sans-serif;
	color: black;
	font-size: 20px;
	font-weight: bolder;
	margin-left: 505px;
}

/*"Solved" Conclusion page stuff*/
#solved {
	height: 90px;
	width: 800px;
	font-family: 'Special Elite', cursive, sans-serif;
	color: white;
	font-size: 20px;
	font-weight: bolder;
	padding-top: 30px;
	margin-left: 370px;

}


#she-did-it {
	margin-top: 60px;
	width: 680px;
}

/*Below is unsolved content*/
#unsolved-content {
	align: center;
	font-family: 'Special Elite', cursive, sans-serif;
	color: white;
	font-size: 20px;
	font-weight: bolder;
	margin-left: 400px;
	margin-top: 60px;
}

#not-solved img {
	margin-top: 150px;
	margin-left: 350px;
}

#restart-game {
	width: 150px;
	height: 30px;
	font-family: 'Special Elite', cursive, sans-serif;
	position: absolute;
	top:600px;
	right: 150px;
}


/*TRUNK POP UP STUFF BELOW*/
  #trunk {
  	height: 230px;
    width: 360px;
 	/*background-color: yellow;*/
  	position: absolute;
  	top: 365px;
  	right: 780px;
 	z-index: 7;
  }
  
  #trunk-pop-up {
  	display: none;
  }
  
  #trunk:hover {
     /*HOVER STYLES */
	 #trunk-pop-up {
	    display: none; 
	 }
 }

#modal-trunk {
	width: 925px;
	height: 100px;
	position: absolute;
	color: white;
	font-family: 'Special Elite', cursive, sans-serif;
	font-size: 20px;
	top:600px;
	right: 490px;
	z-index: 8;
}



 /*TELESCOPE POP UP STUFF BELOW*/
   #telescope {
  	height: 270px;
    width: 140px;
  	/*background-color: grey;*/
  	position: absolute;
  	top: 205px;
  	right: 1090px;
 	z-index: 6;
  
  }
  
 #telescope-pop-up {
  	display: none;
  }
  #telescope:hover {
    /* HOVER STYLES */
	 #telescope-pop-up {
	    display: none; 
	 }
 }

 #modal-telescope {
	width: 950px;
	height: 100px;
	position: absolute;
	color: white;
	font-family: 'Special Elite', cursive, sans-serif;
	font-size: 20px;
	top: 600px;
    right: 470px;
	z-index: 8;
}

 /*BROWN-BEAR POP UP STUFF BELOW*/

  #brown-bear {
 	height: 95px;
    width: 100px;
 	/*background-color: brown;*/
 	position: absolute;
 	z-index: 5;
 	top: 315px;
 	right: 1270px;
 }

#brown-bear-pop-up {
  	display: none;
  }
  #brown-bear:hover {
    /* HOVER STYLES */
	 #brown-bear-pop-up {
	    display: none; 
	 }
 }

 #modal-brown-bear {
	width: 800px;
	height: 100px;
	position: absolute;
	color: white;
	font-family: 'Special Elite', cursive, sans-serif;
	font-size: 20px;
	top: 600px;
	right: 620px;
	z-index: 8;
}

 /*RED-CHAIR POP UP STUFF BELOW*/

 #red-chair {
 	height: 220px;
    width: 200px;
 	/*background-color: red;*/
 	position: absolute;
 	z-index: 4;
 	top: 275px;
 	right: 680px;
 }

#red-chair-pop-up {
  	display: none;
  }
  #red-chair:hover {
    /* HOVER STYLES */
	 #red-chair-pop-up {
	    display: none; 
	 }
 }


#modal-red-chair {
	width: 900px;
	height: 100px;
	position: absolute;
	color: white;
	font-family: 'Special Elite', cursive, sans-serif;
	font-size: 20px;
	top: 600px;
	right: 525px;
	z-index: 8;
}

 /*GREEN-PHONE POP UP STUFF BELOW*/

  #green-phone {
    height: 25px;
    width: 55px;
 	/*background-color: green;*/
 	position: absolute;
 	z-index: 3;
 	top: 290px;
 	right: 940px;
 
 }

#green-phone-pop-up {
  	display: none;
  }
  #green-phone:hover {
    /* HOVER STYLES */
	 #green-phone-pop-up {
	    display: none; 
	 }
 }

#modal-green-phone {
	width: 800px;
	height: 100px;
	position: absolute;
	color: white;
	font-family: 'Special Elite', cursive, sans-serif;
	font-size: 20px;
	top:600px;
	right: 625px;
	z-index: 8;
}


/*BIG-TROPHY POP UP STUFF BELOW*/
#big-trophy {
    height: 170px;
    width: 70px;
 	/*background-color: green;*/
 	position: absolute;
 	z-index: 5;
 	top: 300px;
 	right: 600px;
 
 }

#big-trophy-pop-up {
  	display: none;
  }
  #big-trophy:hover {
    /* HOVER STYLES */
	 #green-phone-pop-up {
	    display: none; 
	 }
 }

#modal-big-trophy{
	width: 1100px;
	height: 100px;
	position: absolute;
	color: white;
	font-family: 'Special Elite', cursive, sans-serif;
	font-size: 20px;
	top: 600px;
	right: 320px;
	z-index: 8;
}


/*Sword Pop up stuff below*/
 #sword {
    height: 20px;
    width: 245px;
 	/*background-color: pink;*/
 	position: absolute;
 	z-index: 2;
 	top: 150px;
 	right: 855px;
 }


#sword-pop-up {
  	display: none;
  }
  #sword :hover {
    /* HOVER STYLES */
	 #sword-pop-up {
	    display: none; 
	 }
 }

#modal-sword {
	width: 600px;
	height: 100px;
	position: absolute;
	color: white;
	font-family: 'Special Elite', cursive, sans-serif;
	font-size: 20px;
	top: 600px;
	right: 820px;
	z-index: 8;
}

/*Butler and Madame Reina content below*/
 .pics {
 	background-color: black;
 	width: 250px;
 	height: 570px;
 	float: right;
 	margin-right: 70px;
 	margin-top: 30px;
  }
  
 
 	#butler {
 	margin-top: 20px;
 	margin-bottom: 7px;
 }
  
	#mistress {
 	margin-top: 10px;
 	margin-bottom: 7px;
 }

	#butler-button {
	margin-bottom: 20px;
	font-size: 18px;
	height: 22px;
	font-family: 'Special Elite', cursive, sans-serif;
	width: 240px;

}

	#Reina-button {
 	font-size: 18px;
 	height: 22px;
 	font-family: 'Special Elite', cursive, sans-serif;
 	width: 240px;
}

 /*MEDIA QUERIES BELOW*/
 @media (max-width: 1080px) { 

 	.titled {
    height: 15%;
    
 	}

	#landing-page-p {
 	padding-top: 15px;
 	height: 400px;
 	width: 40%;
 	margin-left: 300px;
 	
 }

	#landing-page-button {
	background-color: beige;
	width: 40%;
	height: 40px;
	font-family: 'Special Elite', cursive, sans-serif;
	color: black;
	font-size: 20px;
	font-weight: bolder;
	margin-left: 300px;
}

	#da-body img {	
	margin-top: 5px;
    width: 70%;
    position: absolute;
    right: 315px;
    top: 15px;
	}

	#butler img {
	margin-top: 5px;
    width: 20%;
    height: 20%;
    position: absolute;
    right: 40px;
    top: 60px;

	}

	a #butler-button {
	position: absolute;
    right: 40px;
    top: 310px;
	}

	#mistress img {
	margin-top: 5px;
    width: 20%;
    height: 20%;
    position: absolute;
    right: 40px;
    top: 350px;
	}

	a #Reina-button {
	position: absolute;
    right: 40px;
    top: 600px;
	}

/*positioning the modals below*/
	#modal-sword,#modal-big-trophy,
	#modal-green-phone, 
	#modal-red-chair,
	#modal-brown-bear,
	#modal-telescope,
	#modal-trunk { 
		width: 60%;
		position: absolute;
		top: 450px;
		right: 420px;
	}

/*positioning the elements that have hovered attached*/
	#trunk {
		width: 280px;
	    height: 180px;
	    position: absolute;
	    right: 585px;
	    top: 280px;
	}

	#telescope {
	    width: 110px;
	    height: 200px;
	    position: absolute;
	    right: 820px;
	    top: 170px;
	}

	#big-trophy {
		width: 55px;
	    height: 150px;
	    position: absolute;
	    right: 460px;
	    top: 235px;
	}

	#sword {
	    width: 185px;
	    height: 16px;
	    position: absolute;
	    right: 630px;
	    top: 128px;
	}

    #green-phone {
	    width: 45px;
	    height: 20px;
	    position: absolute;
	    right: 702px;
	    top: 230px;
    }

    #red-chair {
	    width: 160px;
	    height: 170px;
	    position: absolute;
	    right: 520px;
	    top: 215px;
    }

    #brown-bear {
	    width: 70px;
	    height: 80px;
	    position: absolute;
	    right: 958px;
	    top: 235px;
	}

	 #timer {
		width: 220px;
	    color: white;
	    font-size: 20px;
	    position: absolute;
	    top: 40px;
	    right: 60px;
	    margin-right: -30px;
	}

	#not-solved img {
		margin-top: 150px;
    	margin-left: 180px;
	}

	#unsolved-content {
	    margin-left: 200px;
	}

	#solved, img {
		margin-left: 100px;
	}

	p#she-did-it {
		margin-left: 100px;
	}

}
 













