
/*div#top.row.fixed {
	position: relative;
}*/

#devtitle{
	font-family: syncopate, sans-serif;
	font-size: 6rem;
	color:white;
	background-color: black;
	height:13rem;
	padding-top: 1rem;
	/*position: fixed;*/
	text-align: center;
/*top:102px;*/

	/*position: absolute;*/
  /*top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/ /*didnt work..lost dev-title*/
/*
position: relative;
  top: 50%;
  transform: translateY(0%);*/
	/*opacity: 0;
    animation: fade-in 800ms ease-in-out 1000ms forwards;*/
}

 div#mainsection.large-12.large-centered.medium-12.medium-centered.small-12.small-centered.columns {
	background-color: 
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #bdc3c7 , #2c3e50);  /*Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #bdc3c7 , #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      "
}


/* The typing effect */
p#titler {
	/*background-color: 
	background: #bdc3c7; /* fallback for old browsers *//*
	background: -webkit-linear-gradient(to left, #bdc3c7 , #2c3e50);  Chrome 10-25, Safari 5.1-6 
	background: linear-gradient(to left, #bdc3c7 , #2c3e50);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
      */
 overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 4.2s steps(40, end),
    blink-caret .75s step-end infinite;	
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: none; }
}

#mainsection p{
	height:31rem;
	/*background-color: 
	background: #bdc3c7; /* fallback for old browsers */
	/*background: -webkit-linear-gradient(to left, #bdc3c7 , #2c3e50);  Chrome 10-25, Safari 5.1-6 
	background: linear-gradient(to left, #bdc3c7 , #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
       
	padding-top: 11rem;
	font-size: 3rem;
	text-align: center;
	clear:both;

}

/*
MAINSUBSECTION-bigger projects
*********************************************************************************************/
/*
div#box1.columns,
div#box2.columns,
div#box3.columns, 
div#box4.columns{
	border-bottom: solid 10px;
}*/

/*.row.small-up-1.medium-up-2.large-up-2{
	border-top: solid 10px;
    border-bottom: solid 10px;
    max-width: 100%;
    height: auto;
}*/

p{
	text-align: center;
	padding-right: 1rem;
	padding-left: 1rem;
}


/*
PROJECTS--smaller projects
***********************************************************************************************/
#skills {
	/*overflow: auto;*/
	background-color: black;
	font-size: 5rem;
	color:white;
	height: 10rem;
}

.row.small-up-1.medium-up-2.large-up-3 {
height: 10rem;
width: 10rem;
border-color: yellow;
}

/*img#img-thumbnail-1.thumbnail {
border-radius: 20px;
}

img#img-thumbnail-2.thumbnail {
	border-radius: 20px;
}
img#img-thumbnail-3.thumbnail {
	border-radius: 20px;
}
img#img-thumbnail-4.thumbnail {
	border-radius: 20px;
}
img#img-thumbnail-5.thumbnail {
	border-radius: 20px;
}
img#img-thumbnail-6.thumbnail {
	border-radius: 20px;
}*/

/*QUOTES
***********************************************************************************************/
div#quotes.large-12.medium-12.small-12.columns {
	padding-top: 6rem;
	height: 14rem;
	background-color: gray;
	color:white;
	text-align: center;
	font-size: 33px;
}


/*
FOOTER
***********************************************************************************************/
footer {
	height: 20rem;
	background-color: black;
}
div.footer-row {
	    margin-top: -3rem;
}


/*.box {
    transform: translateY(282%) rotate(225deg);
    margin: 0 auto;
    width: 60px;
    height: 60px;
}

.box2 {
    transform: translateY(31%) rotate(225deg);
    margin: 0 auto;
    width: 60px;
    height: 60px;
}*/
/*.background-arrows{
    background-color: black;
}

.background-arrows2 {
    background-color: black;
}*/


.arrow-trigger, .arrow-trigger2{
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}


.arrow {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 40px;
    height: 40px;
    border-top: 8px double #fff;
    border-left: 8px double #fff;
    /*animation: arrow 2000ms ease-in-out infinite;
    transform-origin: bottom right;
    cursor: pointer;
    pointer-events: none;*/
}

.arrow2 {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 40px;
    height: 40px;
    border-top: 8px double #fff;
    border-left: 8px double #fff;
   /* animation: arrow 2000ms ease-in-out infinite;
    transform-origin: bottom right;
    cursor: pointer;
    pointer-events: none;*/
}

div.box.background-arrows {
	transform: translateY(21%) rotate(225deg);
    margin: 0 auto;
    width: 60px;
    height: 60px;
    background-color: black;
}
div.box2.background-arrows2 {
	transform: translateY(31%) rotate(405deg);
    margin: 0 auto;
    width: 60px;
    height: 60px;
    background-color: black;
}

a#linkedin, a#twitter, a#fb {
	display: inline;
	float:right;
	margin-right: 1rem;
	padding-top: 13rem;
}
/*img#codepen-socialmedia {
	margin-top:24rem;
}

div.row.large-12.medium-12.small-12.columns.icons {
	float:right;
}*/

/****************************************************************
                         MEDIA QUERIES
****************************************************************/
                     /***Small Devices***/

@media (max-width: 480px) { 

#devtitle{
	font-size: 2.75rem;
	height:11.5rem;
	padding-top: 4rem;
	position: fixed;
	text-align: center;
}

#mainsection {
	height:32rem;
	padding-top: 2rem;
	/*font-size:2rem;*/
}

div#mainsection-title {/*
    padding-left: 26rem;*/
    width: 69rem;
	padding-top: 10rem;
}
p#titler {
	/*background-color: 
	background: #bdc3c7; /* fallback for old browsers *//*
	background: -webkit-linear-gradient(to left, #bdc3c7 , #2c3e50);  Chrome 10-25, Safari 5.1-6 
	background: linear-gradient(to left, #bdc3c7 , #2c3e50);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
      */
 overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0em; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0em; /* Adjust as needed */
  animation: 
    typing 2.2s steps(40, end),
    blink-caret .75s step-end infinite;	
    font-size: 2rem;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: none; }
}
/*
MAINSUBSECTION-bigger projects
*********************************************************************************************/

div#box1.small-block-grid-12.medium-block-grid-6.large-6.columns,
div#box2.small-block-grid-12.medium-block-grid-6.large-6.columns,
div#box3.small-block-grid-12.medium-block-grid-6.large-6.columns,
div#box4.small-block-grid-12.medium-block-grid-6.large-6.columns
/*div#box5.small-6.medium-6.large-6.columns,
div#box6.small-6.medium-6.large-6.columns */{
    /*background-color: white;*/
    border: solid 10px;
    max-width: 100%;
    height: auto;
}


/*
PROJECTS--smaller--thumbnails
***********************************************************************************************/
#skills {
	overflow: auto;
	background-color: black;
	font-size: 2rem;
	color:white;
}

/*QUOTES
***********************************************************************************************/
div#quotes.large-12.medium-12.small-12.columns {
	font-size: 1.6rem;
	padding-top: 4rem;
	height: 14rem;
}


/*
FOOTER
***********************************************************************************************/
footer {
	height: 20rem;
	background-color: black;
}
a#linkedin, a#twitter, a#fb {
	display: inline;
	float:right;
	margin-right: 1rem;
	padding-top: 13rem;
	
}


}


/****************************************************************
                         MEDIA QUERIES
****************************************************************/
                     /***Medium Devices***/
@media (min-width: 481px) { 
#devtitle{
	font-size: 3.25rem;
	height:11.5rem;
	padding-top: 4rem;
	/*position: fixed;
	text-align: center;*/
}

#mainsection {
	height:32rem;
	/*padding-top: 8rem;*/
	font-size:2.75rem;
}

/*QUOTES
***********************************************************************************************/
div#quotes.large-12.medium-12.small-12.columns {
	font-size: 1.6rem;
	padding-top: 4rem;
	height: 14rem;
}


/*
FOOTER
***********************************************************************************************/
footer {
	height: 20rem;
	background-color: black;
}

}


/*@media (min-width: 640px) {
	div#quotes.large-12.medium-12.small-12.columns {
	font-size: 1.6rem;
	padding-top: 5rem;
	height: 14rem;
}*/


/****************************************************************
                         MEDIA QUERIES
****************************************************************/
                     /***Medium Devices***/


@media (min-width: 1024px) { 
#devtitle{
	font-size: 5.25rem;
	height:11.5rem;
	padding-top: 4rem;
	/*position: fixed;
	text-align: center;*/
}

#mainsection {
	height:32rem;
	/*padding-top: 8rem;*/
	font-size:2.75rem;
}

div.box.background-arrows {
    transform: translateY(-59%) rotate(225deg);
    margin: 0 auto;
    width: 60px;
    height: 60px;
    background-color: black;
}

/*QUOTES
***********************************************************************************************/
div#quotes.large-12.medium-12.small-12.columns {
	font-size: 1.6rem;
	padding-top: 6rem;
	height: 14rem;
}


/*
FOOTER
***********************************************************************************************/
footer {
	height: 20rem;
	background-color: black;
}




}











