
body {
	background: url("chicagoscene.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
        
}

#devtitle{
	font-family: syncopate, sans-serif;
	/*font-size: 6rem;*/
	color:white;
	background-color: black;
	height:12rem;
	/*padding-top: 1rem;*/
	/*position: fixed;*/
	text-align: center;

}

 div#mainsection.large-12.large-centered.medium-12.medium-centered.small-12.small-centered.columns {
	line-height: 200px;
	height: 558px;
	text-align: center;
}


/* The typing effect */
div#titler {
	/*background-color: 
	background: #bdc3c7; /* fallback for old browsers *//*
	background: -webkit-linear-gradient(to left, #bdc3c7 , #2c3e50);  Chrome 10-25, Safari 5.1-6 
	background: linear-gradient(to left, #bdc3c7 , #2c3e50);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
      */
   /* position: absolute;bottom: 0px;width: 100%;*//*for putting on bottom of element along with parent element*/
   	line-height: 7.5;
   	display: inline-block;
   	vertical-align: text-top;
   	width: 70%;
    background-color: rgba(255,255,255,.5);

	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .15em; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em; /* Adjust as needed */
	animation: 
	typing 4.2s steps(40, end),
	blink-caret .75s step-end infinite;	
}

@keyframes typing {
	from { width: 0 }
	to { width: 70% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: none; } /*removed visible cursor*/
}

#mainsection p{
	height:31rem;
	padding-top: 11rem;
	font-size: 3rem;
	text-align: center;
	clear:both;
}

/*
PROJECTS--larger projects
*********************************************************************************************/
div#projects.row.small-10.center.large-collapse, div.row.small-10.center.large-collapse  {
	color: white;
	margin-bottom: 1rem;
	background-color: rgba(0,42,64,.7);
}

div.small-6.columns.largerprojects-p {
	padding-top: 5rem;
	text-decoration:none;
	text-align: center;
}
/*PROJECTS--smaller projects
***********************************************************************************************/
p#skills {
	height: 9rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color:white;
	background-color: black;
	font-size: 2rem;
	letter-spacing: 5px;
/*font-family: syncopate, sans-serif;*/
}

div.small-6.center.columns.tiles.button{
	font-family: syncopate, sans-serif;
	background-color: white;
	height: 10rem;
	width: 10rem;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
    cursor: pointer;
	outline: none;
	color:black;
	border: none;
	box-shadow: 9px 9px 0 0 #999;
}

div.small-6.center.columns.tiles.button:hover {background-color: #D6D6D0}
div.small-6.center.columns.tiles.button:active {
	background: #D6D6D0;
	box-shadow: 5px 5px 0 0 #4F4F4D;
	transform: translateY(10px) ;
}

div.tiles-content{
	margin-left: auto;
    margin-right: auto;
}

div#smallerprojects-row1.row.small-8.center {
	margin-top: 1rem;
	margin-bottom: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center; 
}		

div#smallerprojects-row2.row.small-8.center {
	margin-bottom: 1rem;
	display: flex;
	justify-content: space-between;
}



/*QUOTES
***********************************************************************************************/
div#quotes.large-12.medium-12.small-12.columns {
	height: 15rem;
	background-color: gray;
	color:white;
	font-size: 33px;
	display: flex;
	justify-content: center;
	align-items: center;
}


/*
FOOTER
***********************************************************************************************/
#footer.row {
	height: 20rem;
	background-color: black;
}

div.row.large-12.medium-12.small-12.columns{ 
	position: relative;
	width: 100%;
}

.background-arrows2 {
    background-color: black;
}


.arrow-trigger, .arrow-trigger2{
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.arrow {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 40px;
    height: 40px;
    border-top: 8px double #fff;
    border-left: 8px double #fff;
    /*animation: arrow 2000ms ease-in-out infinite;
    transform-origin: bottom right;
    cursor: pointer;
    pointer-events: none;*/
}

.arrow2 {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 40px;
    height: 40px;
    border-top: 8px double #fff;
    border-left: 8px double #fff;
   /* animation: arrow 2000ms ease-in-out infinite;
    transform-origin: bottom right;
    cursor: pointer;
    pointer-events: none;*/
}

div.box.background-arrows {
	transform: translateY(21%) rotate(225deg);
    margin: 0 auto;
    width: 60px;
    height: 60px;
    background-color: black;
}
div.box2.background-arrows2 {
	transform: translateY(-41%) rotate(405deg);
    margin: 0 auto;
    width: 60px;
    height: 60px;
    background-color: black;
}

div#socmedlinks.large-12.medium-12.small-12.columns {
	padding-top: 11rem;
	text-align: center;
}



/****************************************************************
                         MEDIA QUERIES
****************************************************************/
                     /***Small Devices***/

@media (max-width: 480px) { 

#devtitle{
	font-size: 2.75rem;
	height:12rem;
	padding-top: 4rem;
	position: fixed;
	text-align: center;
}

div.box.background-arrows {
	transform: translateY(42%) rotate(225deg);
}

#mainsection {
	height:32rem;
	padding-top: 5rem;
	font-size:1.3rem;
}

div#mainsection-title {/*
    padding-left: 26rem;*/
    width: 69rem;
	padding-top: 10rem;
}

div#titler {
    line-height: 7.5;
    display: inline-block;
    vertical-align: text-top;
    width: 85%;
    background-color: rgba(255,255,255,.5);
    overflow: hidden;
    border-right: .15em;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 4.2s steps(40, end), blink-caret .75s step-end infinite;
    }

p#titler {
 overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0em; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0em; /* Adjust as needed */
  animation: 
    typing 2.2s steps(40, end),
    blink-caret .75s step-end infinite;	
    font-size: 2rem;
}

@keyframes typing {
  from { width: 0 }
  to { width: 85% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: none; }
}
/*
MAINSUBSECTION-bigger projects
*********************************************************************************************/

div.small-6.columns.largerprojects-images {
	width: 100%;
}
div.small-6.columns.largerprojects-p {
	width: 100%;
	padding-bottom: .5rem;
	padding-top: 0;
}



/*
PROJECTS--smaller--thumbnails
***********************************************************************************************/
#skills {
	overflow: auto;
	background-color: black;
	font-size: 1.3rem;
	color:white;
	text-align: center;
}

div.small-6.center.columns.tiles {
	height: 5rem;
	margin-right: 1rem;
	font-size: .75rem;
	display: flex;
    justify-content: center;
}

/*QUOTES
***********************************************************************************************/
div#quotes.large-12.medium-12.small-12.columns {
	font-size: 1.6rem;
	/*padding-top: 4rem;*/
	height: 14rem;
	text-align: center;
}


/*
FOOTER
***********************************************************************************************/
footer {
	height: 20rem;
	background-color: black;
}
a#linkedin, a#twitter, a#fb, a#codepen {
	display: inline;
	/*float:right;*/
	margin-right: 1rem;
	/*padding-top: 13rem;*/
	text-align: center;
	
}

div#socmedlinks.large-12.medium-12.small-12.columns {
	text-align: center;
}

}

/****************************************************************
                         MEDIA QUERIES
****************************************************************/
                     /***Medium Devices***/
/*@media (min-width: 768px) { 
#devtitle{
	font-size: 3.25rem;
	height:11.5rem;
	padding-top: 4rem;*/
	/*position: fixed;
	text-align: center;*/
/*}

#mainsection {
	height:32rem;*/
	/*padding-top: 8rem;*/
	/*font-size:1.25rem;
}

div.small-6.columns.largerprojects-images {

}

div.small-6.columns.largerprojects-p {

}*/

/*QUOTES
***********************************************************************************************/
/*div#quotes.large-12.medium-12.small-12.columns {
	font-size: 1.6rem;
	padding-top: 4rem;
	height: 14rem;
}*/


/*
FOOTER
***********************************************************************************************/
/*footer {
	height: 20rem;
	background-color: black;
}

}*/


/*@media (min-width: 640px) {
	div#quotes.large-12.medium-12.small-12.columns {
	font-size: 1.6rem;
	padding-top: 5rem;
	height: 14rem;
}*/


/****************************************************************
                         MEDIA QUERIES
****************************************************************/
                     /***large Devices***/


@media (min-width: 1024px) { 
#devtitle{
	font-size: 5.25rem;
	/*height:11.5rem;*/
	padding-top: 4rem;
	/*position: fixed;
	text-align: center;*/
}

#mainsection {
	height:32rem;
	/*padding-top: 8rem;*/
	font-size:2.75rem;
}

div.box.background-arrows {
    transform: translateY(-59%) rotate(225deg);
    margin: 0 auto;
    width: 60px;
    height: 60px;
    background-color: black;
}

/*QUOTES
***********************************************************************************************/
div#quotes.large-12.medium-12.small-12.columns {
	font-size: 1.6rem;
	/*padding-top: 6rem;*/
	height: 14rem;
}


/*
FOOTER
***********************************************************************************************/
footer {
	height: 20rem;
	background-color: black;
}




}











